<div id="modal-{{ lending.id }}" class="modal">
    <div class="modal-content">
        <h4>Ausleihanfrage bearbeiten</h4>
        <div class="row">
            <div class="col s6 m5">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ thing.image.url }}">
                        <span class="card-title">{{ thing.name }}</span>
                    </div>
                    <div class="card-content">
                        {{ thing.description }}
                    </div>
                </div>
            </div>
            <div class="col s6 m7">
                <form action="#">
                    {% if new %}
                        <input type="hidden" name="lending_id" value="{{ lending.id }}">
                    {% else %}
                        <input type="hidden" name="lending_id" value="new">
                    {% endif %}
                    <div class="input-field">
                        <input type="date" class="datepicker" name="startdate" id="input_from_modal-{{ lending.id }}" value="{{ lending.start }}">
                        <label for="input_from_modal-{{ lending.id }}">Von:</label>
                    </div>
                    <div class="input-field">
                        <input type="date" class="datepicker" name="enddate" id="input_to_modal-{{ lending.id }}" value="{{ lending.end }}">
                        <label for="input_to_modal-{{ lending.id }}">Bis:</label>
                    </div>
                    <div class="input-field">
                        <select name="status">
                            <option value="l" {% if lending.status == 'lended' %}selected{% endif %}>ausgeliehen</option>
                            <option value="r" {% if lending.status == 'reserved' %}selected{% endif %}>reserviert</option>
                        </select>
                        <label>Status</label>
                    </div>
                    <input type="submit">
                </form>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Abort</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>