{% extends "base.tmpl" %}
{% load verleihfix_tags %}
{% block title %}Meine Ausleihen{% endblock %}

{% block content %}

    {%  if request.user.is_superuser %}
        <h1>Alle Ausleihen</h1>
    {% else %}
        <h1>Meine Ausleihen</h1>
    {% endif %}

    <table>
        <tr>
            <th>Gerät</th>
            {%  if request.user.is_superuser %} <th>Ausleiher</th> {% endif %}
            <th>von</th>
            <th>bis</th>
            <th>Status</th>
            {%  if request.user.is_superuser %} <th>Ausleihe</th> {%  endif %}
            <th>Aktion</th>
        </tr>
        {% for subview in subviews %}
            {% if subview.num > 0 %}
                <tr>
                    <td colspan="{% if request.user.is_supersuer %}7{% else %}5{% endif %}"><h5>{{ subview.title }}</h5></td>
                </tr>
                {% for lending in lendings %}
                    {% if lending.status == subview.status %}
                        <tr>
                            <td>{{ lending.thing.type.name }}</td>
                            {% if request.user.is_superuser %} <td>{{ lending.user.first_name }} {{ lending.user.last_name }}</td> {% endif %}
                            <td>{{ lending.start }}</td>
                            <td>{{ lending.end }}</td>
                            <td>{{ lending.get_status_display }}</td>
                            {%  if request.user.is_superuser %}
                                <td>
                                    {% if lending.status == 'r' %}
                                        <a href="lending_status?lending={{ lending.id }}&new_status=l">
                                            <i class="material-icons" title="Abholung">flight_takeoff</i>
                                        </a>
                                    {% endif %}
                                    {% if lending.status == 'l' %}
                                        <a href="lending_status?lending={{ lending.id }}&new_status=x">
                                            <i class="material-icons" title="Rückgabe">flight_land</i>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}

                            <td>
                                {% if subview.cancel %}
                                    <a href="lending_status?lending={{ lending.id }}&new_status=o"><i class="material-icons" title="Stornieren">delete</i>
                                {% endif %}
                            </td>

                        </tr>

                    {% endif %}
                {% endfor %}
            {% endif %}
        {%  endfor %}
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
{% endblock %}