{% extends "base.tmpl" %}
{% load verleihfix_tags %}

{% block title %}Einstellungen{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m9 l7">
    <h4>Einstellungen</h4>

    <p>&nbsp;</p>
    <form action="settings" method="get">
      <p>
        <input type="checkbox" name="status_x" id="status_x" />
        <label for="status_x">Zurückgegebene Geräte in Ausleihübersicht anzeigen</label>
      </p>
      <p>
        <input type="checkbox" name="status_o" id="status_o" />
        <label for="status_o">Stornierte Reservierungen in Ausleihübersicht anzeigen</label>
      </p>
      <p>&nbsp;</p>
      <button class="btn waves-effect waves-light" type="submit" name="action">Einstellungen ändern
        <i class="material-icons right">send</i>
      </button>
    </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
{% endblock %}