{% extends "base.tmpl" %}
{% load i18n %}
{% load verleihfix_tags %}

{% block title %}{% trans "Geräte" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m9 l7">
    <h4>{% blocktrans %}Verfügbare Geräte{% endblocktrans %}</h4>

    {% for category in category_list %}
        <div id="category-{{ category.id }}" class="section scrollspy">
            <h5>{{ category }}</h5>
            {% for type in category.types %}
                {%  type_card type %}
            {% endfor %}
        </div>
    {% endfor %}

    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="pinme">
            <ul class="section table-of-contents">
                {% for category in category_list %}
                    <li><a href="#category-{{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}